/* App Container */
.app-container {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
}

.collapsed .sidebar {
    width: 80px;
}

.collapsed .sidebar-links a {
    text-align: center;
}

.collapsed .sidebar-links a span {
    display: none;
}

.collapsed .content-container {
    margin-left: 80px;
}

.content-container {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Adjust this based on sidebar width */
    transition: margin-left 0.3s ease-in-out;
}

/* Main Heading Styles */
h2 {
    color: #0044cc;
}

/* Responsiveness for smaller screens */
@media screen and (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }

    .content-container {
        margin-left: 0;
    }
}
